<%= form_with(model: [comment.post, comment], 
    class: "space-y-4") do |f| %>

<div class="relative">
    <%= f.text_area :content, 
        rows: 3,
        class: "w-full px-3 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500" %>
</div>

<div class="flex justify-end space-x-2">
    <%= link_to "Cancel", 
        post_path(comment.post), 
        class: "px-4 py-2 text-gray-600 bg-gray-100 rounded-lg hover:bg-gray-200 transition-colors duration-200" %>
        
    <%= f.submit "Update #{comment.parent_id.present? ? 'Reply' : 'Comment'}", 
        class: "px-4 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700 transition-colors duration-200" %>
</div>
<% end %>

