<%= turbo_frame_tag "admin_notification_badge", class: "relative" do %>
  <% unread_count = current_user&.notifications&.unread&.count || 0 %>
  <%= link_to notifications_path, class: "p-3 text-gray-600 hover:text-gray-900 hover:bg-gray-100 rounded-xl transition-all transform hover:scale-105 inline-block relative", title: "View notifications (#{unread_count} unread)" do %>
    <i class="fas fa-bell text-lg"></i>
    <% if unread_count > 0 %>
      <span id="notification-badge" class="absolute -top-1 -right-1 h-5 w-5 bg-red-500 text-white text-xs rounded-full flex items-center justify-center font-bold shadow-lg animate-pulse"><%=unread_count > 9 ? '9+' : unread_count %></span>
    <% end %>
  <% end %>
<% end %>