/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 *
 *= require _navbar
*/

/* Flash message transitions */
[data-controller="flash"] {
transition: opacity 0.3s ease-in-out;
}

.opacity-0 {
opacity: 0;
}

.opacity-100 {
opacity: 1;
}
